@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* SILKA */

/* thin */
@font-face {
	font-family: 'Silka';
	font-weight: 100;
	src: local('Silka Thin'), url('~/assets/fonts/Silka/silka-thin-webfont.ttf') format('truetype');
	font-display: swap;
}
/* extra-light */
@font-face {
	font-family: 'Silka';
	font-weight: 200;
	src: local('Silka ExtraLight'), url('~/assets/fonts/Silka/silka-extralight-webfont.ttf') format('truetype');
	font-display: swap;
}
/* light */
@font-face {
	font-family: 'Silka';
	font-weight: 300;
	src: local('Silka Light'), url('~/assets/fonts/Silka/silka-light-webfont.ttf') format('truetype');
	font-display: swap;
}
/* normal */
@font-face {
	font-family: 'Silka';
	font-weight: 400;
	src: local('Silka Regular'), url('~/assets/fonts/Silka/silka-regular-webfont.ttf') format('truetype');
	font-display: swap;
}
/* medium */
@font-face {
	font-family: 'Silka';
	font-weight: 500;
	src: local('Silka Medium'), url('~/assets/fonts/Silka/silka-medium-webfont.ttf') format('truetype');
	font-display: swap;
}
/* semibold */
@font-face {
	font-family: 'Silka';
	font-weight: 600;
	src: local('Silka SemiBold'), url('~/assets/fonts/Silka/silka-semibold-webfont.ttf') format('truetype');
	font-display: swap;
}
/* bold */
@font-face {
	font-family: 'Silka';
	font-weight: 700;
	src: local('Silka Bold'), url('~/assets/fonts/Silka/silka-bold-webfont.ttf') format('truetype');
	font-display: swap;
}
/* black */
/* @font-face {
	font-family: 'Silka';
	font-weight: 800 900;
	src: local('Silka Black'), url('~/assets/fonts/Silka/silka-black-webfont.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Silka';
	font-weight: 800 900;
	src: local('Inter Regular'),
		url('~/assets/fonts/Silka/silka-black-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-black-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Silka';
	font-weight: 800 900;
	src: local('Inter Regular'),
		url('~/assets/fonts/Silka/silka-black-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-black-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}

/* Inter */

/* thin */
@font-face {
	font-family: 'Inter';
	font-weight: 100;
	src: local('Inter Thin'), url('~/assets/fonts/Inter/Inter-Thin.ttf') format('truetype');
	font-display: swap;
}
/* extra-light */
@font-face {
	font-family: 'Inter';
	font-weight: 200;
	src: local('Inter ExtraLight'), url('~/assets/fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
	font-display: swap;
}
/* light */
@font-face {
	font-family: 'Inter';
	font-weight: 300;
	src: local('Inter Light'), url('~/assets/fonts/Inter/Inter-Light.ttf') format('truetype');
	font-display: swap;
}
/* normal */
@font-face {
	font-family: 'Inter';
	font-weight: 400;
	src: local('Inter Regular'), url('~/assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
	font-display: swap;
}
/* medium */
@font-face {
	font-family: 'Inter';
	font-weight: 500;
	src: local('Inter Medium'), url('~/assets/fonts/Inter/Inter-Medium.ttf') format('truetype');
	font-display: swap;
}
/* semibold */
@font-face {
	font-family: 'Inter';
	font-weight: 600;
	src: local('Inter SemiBold'), url('~/assets/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
	font-display: swap;
}
/* bold */
@font-face {
	font-family: 'Inter';
	font-weight: 700;
	src: local('Inter Bold'), url('~/assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
	font-display: swap;
}
/* extrabold */
@font-face {
	font-family: 'Inter';
	font-weight: 700;
	src: local('Inter ExtraBold'), url('~/assets/fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
	font-display: swap;
}
/* black */
@font-face {
	font-family: 'Inter';
	font-weight: 800 900;
	src: local('Inter Black'), url('~/assets/fonts/Inter/Inter-Black.ttf') format('truetype');
	font-display: swap;
}

body {
	@apply font-inter font-normal;
}

.vertical-text {
	writing-mode: vertical-lr;
}

.px-layout {
	@apply @2xl:px-28 @xl:px-24 @lg:px-20 @md:px-12 @sm:px-10 px-8
}
