@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* SILKA */

/* thin */
/* @font-face {
	font-family: 'Silka';
	font-weight: 100;
	src: local('Silka Thin'), url('~/assets/fonts/Silka/silka-thin-webfont.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Silka';
	font-weight: 100;
	src: local('Silka Thin'),
		url('~/assets/fonts/Silka/silka-thin-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-thin-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Silka';
	font-weight: 100;
	src: local('Silka Thin'),
		url('~/assets/fonts/Silka/silka-thin-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-thin-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}
/* extra-light */
/* @font-face {
	font-family: 'Silka';
	font-weight: 200;
	src: local('Silka ExtraLight'), url('~/assets/fonts/Silka/silka-extralight-webfont.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Silka';
	font-weight: 200;
	src: local('Silka ExtraLight'),
		url('~/assets/fonts/Silka/silka-extralight-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-extralight-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Silka';
	font-weight: 200;
	src: local('Silka ExtraLight'),
		url('~/assets/fonts/Silka/silka-extralight-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-extralight-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}
/* light */
/* @font-face {
	font-family: 'Silka';
	font-weight: 300;
	src: local('Silka Light'), url('~/assets/fonts/Silka/silka-light-webfont.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Silka';
	font-weight: 300;
	src: local('Silka Light'),
		url('~/assets/fonts/Silka/silka-light-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-light-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Silka';
	font-weight: 300;
	src: local('Silka Light'),
		url('~/assets/fonts/Silka/silka-light-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-light-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}
/* normal */
/* @font-face {
	font-family: 'Silka';
	font-weight: 400;
	src: local('Silka Regular'), url('~/assets/fonts/Silka/silka-regular-webfont.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Silka';
	font-weight: 400;
	src: local('Silka Regular'),
		url('~/assets/fonts/Silka/silka-regular-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-regular-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Silka';
	font-weight: 300;
	src: local('Silka Regular'),
		url('~/assets/fonts/Silka/silka-regular-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-regular-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}
/* medium */
/* @font-face {
	font-family: 'Silka';
	font-weight: 500;
	src: local('Silka Medium'), url('~/assets/fonts/Silka/silka-medium-webfont.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Silka';
	font-weight: 500;
	src: local('Silka Medium'),
		url('~/assets/fonts/Silka/silka-medium-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-medium-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Silka';
	font-weight: 500;
	src: local('Silka Medium'),
		url('~/assets/fonts/Silka/silka-medium-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-medium-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}
/* semibold */
/* @font-face {
	font-family: 'Silka';
	font-weight: 600;
	src: local('Silka SemiBold'), url('~/assets/fonts/Silka/silka-semibold-webfont.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Silka';
	font-weight: 600;
	src: local('Silka SemiBold'),
		url('~/assets/fonts/Silka/silka-semibold-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-semibold-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Silka';
	font-weight: 600;
	src: local('Silka SemiBold'),
		url('~/assets/fonts/Silka/silka-semibold-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-semibold-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}
/* bold */
/* @font-face {
	font-family: 'Silka';
	font-weight: 700;
	src: local('Silka Bold'), url('~/assets/fonts/Silka/silka-bold-webfont.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Silka';
	font-weight: 700;
	src: local('Silka Bold'),
		url('~/assets/fonts/Silka/silka-bold-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-bold-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Silka';
	font-weight: 700;
	src: local('Silka Bold'),
		url('~/assets/fonts/Silka/silka-bold-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-bold-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}
/* black */
/* @font-face {
	font-family: 'Silka';
	font-weight: 800 900;
	src: local('Silka Black'), url('~/assets/fonts/Silka/silka-black-webfont.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Silka';
	font-weight: 800 900;
	src: local('Silka Black'),
		url('~/assets/fonts/Silka/silka-black-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-black-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Silka';
	font-weight: 800 900;
	src: local('Silka Black'),
		url('~/assets/fonts/Silka/silka-black-webfont.woff2') format('woff2'),
		url('~/assets/fonts/Silka/silka-black-webfont.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}

/* Inter */

/* thin */
/* @font-face {
	font-family: 'Inter';
	font-weight: 100;
	src: local('Inter Thin'), url('~/assets/fonts/Inter/Inter-Thin.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Inter';
	font-weight: 100;
	src: local('Inter Thin'),
		url('~/assets/fonts/Inter/Inter-Thin.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-Thin.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Inter';
	font-weight: 100;
	src: local('Inter Thin'),
		url('~/assets/fonts/Inter/Inter-Thin.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-Thin.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}
/* extra-light */
/* @font-face {
	font-family: 'Inter';
	font-weight: 200;
	src: local('Inter ExtraLight'), url('~/assets/fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Inter';
	font-weight: 200;
	src: local('Inter ExtraLight'),
		url('~/assets/fonts/Inter/Inter-ExtraLight.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-ExtraLight.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Inter';
	font-weight: 200;
	src: local('Inter ExtraLight'),
		url('~/assets/fonts/Inter/Inter-ExtraLight.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-ExtraLight.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}
/* light */
/* @font-face {
	font-family: 'Inter';
	font-weight: 300;
	src: local('Inter Light'), url('~/assets/fonts/Inter/Inter-Light.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Inter';
	font-weight: 300;
	src: local('Inter Light'),
		url('~/assets/fonts/Inter/Inter-Light.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-Light.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Inter';
	font-weight: 300;
	src: local('Inter Light'),
		url('~/assets/fonts/Inter/Inter-Light.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-Light.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}
/* normal */
/* @font-face {
	font-family: 'Inter';
	font-weight: 400;
	src: local('Inter Regular'), url('~/assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Inter';
	font-weight: 400;
	src: local('Inter Regular'),
		url('~/assets/fonts/Inter/Inter-Regular.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-Regular.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Inter';
	font-weight: 400;
	src: local('Inter Regular'),
		url('~/assets/fonts/Inter/Inter-Regular.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-Regular.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}

/* medium */
/* @font-face {
	font-family: 'Inter';
	font-weight: 500;
	src: local('Inter Medium'), url('~/assets/fonts/Inter/Inter-Medium.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Inter';
	font-weight: 500;
	src: local('Inter Medium'),
		url('~/assets/fonts/Inter/Inter-Medium.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-Medium.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Inter';
	font-weight: 500;
	src: local('Inter Medium'),
		url('~/assets/fonts/Inter/Inter-Medium.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-Medium.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}
/* semibold */
/* @font-face {
	font-family: 'Inter';
	font-weight: 600;
	src: local('Inter SemiBold'), url('~/assets/fonts/Inter/Inter-SemiBold.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Inter';
	font-weight: 600;
	src: local('Inter SemiBold'),
		url('~/assets/fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-SemiBold.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Inter';
	font-weight: 600;
	src: local('Inter SemiBold'),
		url('~/assets/fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-SemiBold.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}
/* bold */
/* @font-face {
	font-family: 'Inter';
	font-weight: 700;
	src: local('Inter Bold'), url('~/assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Inter';
	font-weight: 700;
	src: local('Inter Bold'),
		url('~/assets/fonts/Inter/Inter-Bold.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-Bold.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Inter';
	font-weight: 700;
	src: local('Inter Bold'),
		url('~/assets/fonts/Inter/Inter-Bold.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-Bold.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}
/* black */
/* @font-face {
	font-family: 'Inter';
	font-weight: 800 900;
	src: local('Inter Black'), url('~/assets/fonts/Inter/Inter-Black.ttf') format('truetype');
	font-display: swap;
} */
@font-face {
	font-family: 'Inter';
	font-weight: 800 900;
	src: local('Inter Black'),
		url('~/assets/fonts/Inter/Inter-Black.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-Black.woff') format('woff');
	font-display: swap;
	unicode-range: U+000-5FF;
}
@font-face {
	font-family: 'Inter';
	font-weight: 800 900;
	src: local('Inter Black'),
		url('~/assets/fonts/Inter/Inter-Black.woff2') format('woff2'),
		url('~/assets/fonts/Inter/Inter-Black.woff') format('woff');
	font-display: swap;
	unicode-range: U+3000-9FFF, U+ff??;
}


@layer base {
	.vertical-text {
		writing-mode: vertical-lr;
	}

	.vertical-none {
		writing-mode: unset;
	}

	.capitalize-first:first-letter {
		text-transform: uppercase;
	}
	
	.px-layout {
		@apply @2xl:px-28 @xl:px-24 @lg:px-20 @md:px-12 @sm:px-10 px-8
	}
	
	.pr-layout {
		@apply @2xl:pr-28 @xl:pr-24 @lg:pr-20 @md:pr-12 @sm:pr-10 pr-8
	}

	.mr-layout {
		@apply @2xl:mr-28 @xl:mr-24 @lg:mr-20 @md:mr-12 @sm:mr-10 mr-8
	}
	
	.-mx-layout {
		@apply @2xl:-mx-28 @xl:-mx-24 @lg:-mx-20 @md:-mx-12 @sm:-mx-10 -mx-8
	}

	.-mr-layout {
		@apply @2xl:-mr-28 @xl:-mr-24 @lg:-mr-20 @md:-mr-12 @sm:-mr-10 -mr-8
	}
	
	.pl-layout {
		@apply @2xl:pl-28 @xl:pl-24 @lg:pl-20 @md:pl-12 @sm:pl-10 pl-8
	}

	.line-through {
		text-decoration-line: none !important;
		position: relative;
	}

	.line-through:after {
		@apply w-[calc(100%+8px)] h-[5px] bg-current absolute left-[-4px] top-[calc(50%+2px)];
		content: '';
	}

	.small-container {
		@apply container
	}

	@media (min-width: 1536px) {
		.small-container {
			max-width: 1280px !important;
		}
	}

	.big-container {
		@apply container
	}

	@media (min-width: 1720px) {
		.big-container {
			max-width: 1720px !important;
		}
	}

	.max-container {
		@apply mx-auto;
		max-width: 1920px !important;
	}
}

html {
	scroll-behavior: smooth
}

body {
	@apply font-inter font-normal leading-7;
}

[data-aos="line-through"] {
	@apply relative
}

[data-aos="line-through"]::after {
	@apply bg-cinnabar w-[0%] absolute left-[-5px] transition-all ease-in-out z-10 duration-500 h-[16px] bottom-[27%];
	transform: rotate(-3deg);
	content: '';
	&.aos-animate {
		@apply w-[calc(100%+10px)];
	}
}

