@-webkit-keyframes MoveX {
  0% {
    -webkit-transform:translateX(0);
    transform:translateX(0);
  } 50% {
    -webkit-transform:translateX(-20%);
    transform:translateX(-20%);
  } 100% {
    -webkit-transform:translateX(0);
    transform:translateX(0);
  }
}

@keyframes MoveX {
  0% {
    -webkit-transform:translateX(0);
    transform:translateX(0);
  } 50% {
    -webkit-transform:translateX(-20%);
    transform:translateX(-20%);
  } 100% {
    -webkit-transform:translateX(0);
    transform:translateX(0);
  }
}

@-moz-keyframes MoveX {
  0% {
    -webkit-transform:translateX(0);
    transform:translateX(0);
  } 50% {
    -webkit-transform:translateX(-20%);
    transform:translateX(-20%);
  } 100% {
    -webkit-transform:translateX(0);
    transform:translateX(0);
  }
}