// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

* {
  font-family: 'Neue Plak Regular';
}

@font-face {
  font-family: 'Neue Plak Bold';
  src: url('../fonts/NeuePlak/NeuePlakBold.otf')
}

@font-face {
  font-family: 'Neue Plak Compressed Black';
  src: url('../fonts/NeuePlak/NeuePlakCompressedBlack.otf')
}

@font-face {
  font-family: 'Neue Plak Compressed Bold';
  src: url('../fonts/NeuePlak/NeuePlakCompressedBold.otf')
}

@font-face {
  font-family: 'Neue Plak Compressed ExtraBlack';
  src: url('../fonts/NeuePlak/NeuePlakCompressedExtraBlack.otf')
}

@font-face {
  font-family: 'Neue Plak Compressed Light';
  src: url('../fonts/NeuePlak/NeuePlakCompressedLight.otf')
}

@font-face {
  font-family: 'Neue Plak Compressed Regular';
  src: url('../fonts/NeuePlak/NeuePlakCompressedRegular.otf')
}

@font-face {
  font-family: 'Neue Plak Compressed SemiBold';
  src: url('../fonts/NeuePlak/NeuePlakCompressedSemiBold.otf')
}

@font-face {
  font-family: 'Neue Plak Compressed Thin';
  src: url('../fonts/NeuePlak/NeuePlakCompressedThin.otf')
}

@font-face {
  font-family: 'Neue Plak Compressed UltraLight';
  src: url('../fonts/NeuePlak/NeuePlakCompressedUltraLight.otf')
}

@font-face {
  font-family: 'Neue Plak Condensed Black';
  src: url('../fonts/NeuePlak/NeuePlakCondensedBlack.otf')
}

@font-face {
  font-family: 'Neue Plak Condensed Bold';
  src: url('../fonts/NeuePlak/NeuePlakCondensedBold.otf')
}

@font-face {
  font-family: 'Neue Plak Condensed ExtraBlack';
  src: url('../fonts/NeuePlak/NeuePlakCondensedExtraBlack.otf')
}

@font-face {
  font-family: 'Neue Plak Condensed Light';
  src: url('../fonts/NeuePlak/NeuePlakCondensedLight.otf')
}

@font-face {
  font-family: 'Neue Plak Condensed Regular';
  src: url('../fonts/NeuePlak/NeuePlakCondensedRegular.otf')
}

@font-face {
  font-family: 'Neue Plak Condensed SemiBold';
  src: url('../fonts/NeuePlak/NeuePlakCondensedSemiBold.otf')
}

@font-face {
  font-family: 'Neue Plak Condensed Thin';
  src: url('../fonts/NeuePlak/NeuePlakCondensedThin.otf')
}

@font-face {
  font-family: 'Neue Plak Condensed UltraLight';
  src: url('../fonts/NeuePlak/NeuePlakCondensedUltraLight.otf')
}

@font-face {
  font-family: 'Neue Plak Extended Black';
  src: url('../fonts/NeuePlak/NeuePlakExtendedBlack.otf')
}

@font-face {
  font-family: 'Neue Plak Extended Bold';
  src: url('../fonts/NeuePlak/NeuePlakExtendedBold.otf')
}

@font-face {
  font-family: 'Neue Plak Extended ExtraBlack';
  src: url('../fonts/NeuePlak/NeuePlakExtendedExtraBlack.otf')
}

@font-face {
  font-family: 'Neue Plak Extended Light';
  src: url('../fonts/NeuePlak/NeuePlakExtendedLight.otf')
}

@font-face {
  font-family: 'Neue Plak Extended Regular';
  src: url('../fonts/NeuePlak/NeuePlakExtendedRegular.otf')
}

@font-face {
  font-family: 'Neue Plak Extended SemiBold';
  src: url('../fonts/NeuePlak/NeuePlakExtendedSemiBold.otf')
}

@font-face {
  font-family: 'Neue Plak Extended Thin';
  src: url('../fonts/NeuePlak/NeuePlakExtendedThin.otf')
}

@font-face {
  font-family: 'Neue Plak Extended UltraLight';
  src: url('../fonts/NeuePlak/NeuePlakExtendedUltraLight.otf')
}

@font-face {
  font-family: 'Neue Plak ExtraBlack';
  src: url('../fonts/NeuePlak/NeuePlakExtraBlack.otf')
}

@font-face {
  font-family: 'Neue Plak Light';
  src: url('../fonts/NeuePlak/NeuePlakLight.otf')
}

@font-face {
  font-family: 'Neue Plak Narrow Black';
  src: url('../fonts/NeuePlak/NeuePlakNarrowBlack.otf')
}

@font-face {
  font-family: 'Neue Plak Narrow Bold';
  src: url('../fonts/NeuePlak/NeuePlakNarrowBold.otf')
}

@font-face {
  font-family: 'Neue Plak Narrow ExtraBlack';
  src: url('../fonts/NeuePlak/NeuePlakNarrowExtraBlack.otf')
}

@font-face {
  font-family: 'Neue Plak Narrow Light';
  src: url('../fonts/NeuePlak/NeuePlakNarrowLight.otf')
}

@font-face {
  font-family: 'Neue Plak Narrow Regular';
  src: url('../fonts/NeuePlak/NeuePlakNarrowRegular.otf')
}

@font-face {
  font-family: 'Neue Plak Narrow SemiBold';
  src: url('../fonts/NeuePlak/NeuePlakNarrowSemiBold.otf')
}

@font-face {
  font-family: 'Neue Plak Narrow Thin';
  src: url('../fonts/NeuePlak/NeuePlakNarrowThin.otf')
}

@font-face {
  font-family: 'Neue Plak Narrow UltraLight';
  src: url('../fonts/NeuePlak/NeuePlakNarrowUltraLight.otf')
}

@font-face {
  font-family: 'Neue Plak Regular';
  src: url('../fonts/NeuePlak/NeuePlakRegular.otf')
}

@font-face {
  font-family: 'Neue Plak SemiBold';
  src: url('../fonts/NeuePlak/NeuePlakSemiBold.otf')
}

@font-face {
  font-family: 'Neue Plak Thin';
  src: url('../fonts/NeuePlak/NeuePlakThin.otf')
}

@font-face {
  font-family: 'Neue Plak UltraLight';
  src: url('../fonts/NeuePlak/NeuePlakUltraLight.otf')
}

@font-face {
  font-family: 'Neue Plak Wide Black';
  src: url('../fonts/NeuePlak/NeuePlakWideBlack.otf')
}

@font-face {
  font-family: 'Neue Plak Wide Bold';
  src: url('../fonts/NeuePlak/NeuePlakWideBold.otf')
}

@font-face {
  font-family: 'Neue Plak Wide ExtraBlack';
  src: url('../fonts/NeuePlak/NeuePlakWideExtraBlack.otf')
}

@font-face {
  font-family: 'Neue Plak Wide Light';
  src: url('../fonts/NeuePlak/NeuePlakWideLight.otf')
}

@font-face {
  font-family: 'Neue Plak Wide Regular';
  src: url('../fonts/NeuePlak/NeuePlakWideRegular.otf')
}

@font-face {
  font-family: 'Neue Plak Wide SemiBold';
  src: url('../fonts/NeuePlak/NeuePlakWideSemiBold.otf')
}

@font-face {
  font-family: 'Neue Plak Wide Thin';
  src: url('../fonts/NeuePlak/NeuePlakWideThin.otf')
}

@font-face {
  font-family: 'Neue Plak Wide UltraLight';
  src: url('../fonts/NeuePlak/NeuePlakWideUltraLight.otf')
}

.title {
  font-size: 20px !important;
  line-height: 1.4 !important;
  letter-spacing: 0.02em !important;
}
