.organic {
	background: linear-gradient(-10deg, #fddd3a, #fddd3a, #e86d33, #e86d33);
	background-size: 400% 400%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}

.organic2 {
	background: linear-gradient(-10deg, transparent, transparent, #fddd3a, #fddd3a);
	background-color: #e69632
	background-size: 400% 400%;
	-webkit-animation: Gradient2 5s ease infinite;
	-moz-animation: Gradient2 5s ease infinite;
	animation: Gradient2 5s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 50% 70%
	}
	50% {
		background-position: 50% 80%
	}
	100% {
		background-position: 50% 70%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 50% 70%
	}
	50% {
		background-position: 50% 80%
	}
	100% {
		background-position: 50% 70%
	}
}

@keyframes Gradient {
	0% {
		background-position: 50% 70%
	}
	50% {
		background-position: 50% 80%
	}
	100% {
		background-position: 50% 70%
	}
}

@-webkit-keyframes Gradient2 {
	0% {
		background-position: 50% 15%
	}
	50% {
		background-position: 50% 30%
	}
	100% {
		background-position: 50% 15%
	}
}

@-moz-keyframes Gradient2 {
	0% {
		background-position: 50% 15%
	}
	50% {
		background-position: 50% 30%
	}
	100% {
		background-position: 50% 15%
	}
}

@keyframes Gradient2 {
	0% {
		background-position: 50% 15%
	}
	50% {
		background-position: 50% 30%
	}
	100% {
		background-position: 50% 15%
	}
}
