.organic {
	color: #fff;
	background: linear-gradient(-10deg, #fddd3a, #fddd3a, #e86d33, #e86d33);
	background-size: 400% 400%;
	-webkit-animation: Gradient 5s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
	animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 50% 40%
	}
	50% {
		background-position: 50% 90%
	}
	100% {
		background-position: 50% 40%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 50% 60%
	}
	50% {
		background-position: 50% 80%
	}
	100% {
		background-position: 50% 60%
	}
}

@keyframes Gradient {
	0% {
		background-position: 50% 70%
	}
	50% {
		background-position: 50% 80%
	}
	100% {
		background-position: 50% 70%
	}
}
