.typer.vue-typer {
  font-family: 'Neue Plak Regular' !important;

  .custom.char {
    color: #5e2e70
  }

  .custom.caret {
    margin-top: 25px
		margin-left: 2px
		background-color: #5e2e70
		height: 68px
		width: 3px
  }
}

.item-small.typer.vue-typer {
  font-family: 'Neue Plak Regular' !important;

  .custom.char {
    color: #5e2e70
  }

  .custom.caret {
    margin-top: 12px
		margin-left: 2px
		background-color: #5e2e70
		height: 45px
		width: 3px
  }
}